<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RandomImageViewer.Properties.Settings>
            <setting name="RandomMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitDuration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>907, 514</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ToggleZoom" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ZoomIn" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="ZoomOut" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="HideOptions" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="HideThumbnails" serializeAs="String">
                <value>121</value>
            </setting>
            <setting name="QuitProgram" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="NextImage" serializeAs="String">
                <value>32</value>
            </setting>
        </RandomImageViewer.Properties.Settings>
    </userSettings>
</configuration>